#img-bg{
    background-image: url('../../assets/img/programming-1873854_960_720.png');
     min-height: 695px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}